 <!DOCTYPE html>
 <html lang="en">
      <head>
           <title></title>
           <meta charset="UTF-8">
           <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
           <link href="/css/main.css" rel="stylesheet">
           
           <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />

          </head>
      <body>
           <div class="container">
                    <div id="map">

                         </div>
                    </div>        
      
           <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
           <script src="/socket.io/socket.io.js"></script>
           <script src="/js/main.js"></script>
      </body>
 </html>